.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 844px;
  height: 988px;
  background-image: url("D:\\autizcare\\src\\images\\welcomeBg.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-item,
.frame1,
.frame2 {
  position: absolute;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame-item {
  top: 0;
  left: 6px;
  background-color: transparent;
  width: 498px;
}
.frame1,
.frame2 {
  top: 2px;
  left: 0;
  width: 504px;
  overflow: hidden;
}
.frame1 {
  top: 0;
  width: 844px;
  height: 988px;
}
.autizcare1 {
  color: #1e1d25;
}
.autizcare-txt {
  line-break: anywhere;
  width: 100%;
}
.autizcare {
  position: absolute;
  top: 0;
  left: 12px;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 480px;
  height: 76px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame5,
.helping-you-heal {
  position: absolute;
  top: 0;
  left: 0;
}
.frame5 {
  width: 492px;
  height: 76px;
  overflow: hidden;
}
.helping-you-heal {
  font-weight: 800;
  display: inline-block;
  width: 445px;
  height: 170px;
}
.with-ease {
  margin: 0;
}
.with-ease-each-container {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  background: linear-gradient(253.61deg, #000, transparent);
  background-clip: text;
  color: transparent;
}
.with-ease-each-day-every-day-wrapper {
  position: absolute;
  top: 85px;
  left: 169px;
  width: 338px;
  height: 85px;
  overflow: hidden;
}
.component-4,
.frame6 {
  position: absolute;
  top: 0;
  left: 32px;
  width: 507px;
  height: 170px;
}
.frame6 {
  top: 392px;
  left: 0;
  width: 539px;
  overflow: hidden;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
}
.frame3,
.frame4 {
  top: 0;
  width: 642px;
  overflow: hidden;
}
.frame4 {
  position: absolute;
  left: 0;
  height: 562px;
}
.frame3 {
  left: -14px;
  height: 988px;
}
.frame,
.frame3,
.welcome {
  position: absolute;
}
.frame {
  top: 24px;
  left: 13px;
  width: 844px;
  height: 988px;
  overflow: hidden;
}
.welcome {
  margin: 0;
  top: 31px;
  left: 33px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 426px;
  height: 111px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame8,
.frame9 {
  position: absolute;
  height: 169px;
  overflow: hidden;
}
.frame9 {
  top: 0;
  left: 25px;
  background-color: var(--color-gray-100);
  width: 491px;
}
.frame8 {
  top: 146px;
  left: 15px;
  width: 516px;
}
.get-started {
  position: absolute;
  top: 47px;
  left: 11px;
  display: inline-block;
  width: 278px;
  height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame11,
.frame12 {
  position: absolute;
  height: 101px;
  overflow: hidden;
}
.frame12 {
  cursor: pointer;
  top: 0;
  left: 82px;
  background-color: var(--color-gray-100);
  width: 298px;
}
.frame11 {
  top: 19px;
  left: 47px;
  width: 380px;
}
.component-3-child,
.patient {
  position: absolute;
  cursor: pointer;
}
.component-3-child {
  border: 0;
  padding: 0;
  background-color: var(--color-powderblue);
  height: 75.76%;
  width: 100%;
  top: 7.58%;
  right: 0;
  bottom: 16.67%;
  left: 0;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.patient {
  height: 100%;
  width: 93.58%;
  top: 0;
  left: 3.21%;
  font-size: var(--font-size-25xl);
  font-family: var(--font-dongle);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-2-child,
.component-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
.component-3 {
  background-color: transparent;
  top: 6px;
  width: 218px;
  height: 66px;
}
.component-2-child {
  background-color: var(--color-powderblue);
  height: 62.5%;
  width: 100%;
  top: 13.75%;
  right: 0;
  bottom: 23.75%;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-2,
.therapist {
  cursor: pointer;
  position: absolute;
  top: 0;
}
.therapist {
  height: 100%;
  width: 89.45%;
  left: 4.59%;
  font-size: var(--font-size-25xl);
  font-family: var(--font-dongle);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 232px;
  width: 218px;
  height: 80px;
}
.frame10,
.frame13,
.frame7 {
  position: absolute;
  top: 134px;
  left: 47px;
  width: 450px;
  height: 80px;
  overflow: hidden;
}
.frame10,
.frame7 {
  top: 453px;
  left: 15px;
  background-color: var(--color-gray-100);
  width: 529px;
  height: 316px;
  font-size: 36px;
  font-family: var(--font-alatsi);
}
.frame7 {
  position: relative;
  top: 24px;
  left: 868px;
  border-radius: var(--br-6xl);
  width: 560px;
  height: 100%;
  text-align: center;
  font-size: 96px;
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
  overflow: hidden;
}
.signUp {
  position: relative;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: #07070a;
  font-family: var(--font-inter);

}
